{% if post.pdf-link %}
<a href="{{ post.pdf-link }}" role="button" class="btn btn-default">  
<span class="glyphicon glyphicon-file" aria-hidden="true"></span> Get paper (pdf)
</a>
{% endif %}

{% if post.arxiv-link %}
<a href="{{ post.arxiv-link }}" role="button" class="btn btn-default">  
<span class="glyphicon glyphicon-file" aria-hidden="true"></span> Read on arxiv.org
</a>
{% endif %}

{% if post.github-link %}
<a href="{{ post.github-link }}" role="button" class="btn btn-default">  
<i class="fa fa-github fa-navbar" aria-hidden="true"></i> Code on github
</a>
{% endif %}

{% if post.data-link %}
<a href="{{ post.data-link }}" role="button" class="btn btn-default">  
<span class="glyphicon glyphicon-file" aria-hidden="true"></span> Download data
</a>
{% endif %}
