<div class="links-block">
  
{% if page.pdf-link %}
<a href="{{ page.pdf-link }}" role="button" class="btn btn-default">  
<span class="glyphicon glyphicon-file" aria-hidden="true"></span> Read (pdf)
</a>
{% endif %}

{% if page.arxiv-link %}
<a href="{{ page.arxiv-link }}" role="button" class="btn btn-default">  
<span class="glyphicon glyphicon-file" aria-hidden="true"></span> Read (arxiv.org)
</a>
{% endif %}

{% if page.github-link %}
<a href="{{ page.github-link }}" role="button" class="btn btn-default">  
<i class="fa fa-github fa-navbar" aria-hidden="true"></i> Code (github)
</a>
{% endif %}

{% if page.data-link %}
<a href="{{ page.data-link }}" role="button" class="btn btn-default">  
<span class="glyphicon glyphicon-file" aria-hidden="true"></span> Data (download)
</a>
{% endif %}

  </div>